.navbar-brand {
  display: flex;
  display: inline-block;
  padding-left: 30px;
  justify-content: first baseline; }

.a {
  list-style: none;
  display: flex;
  padding: 10px;
  flex-direction: row;
  padding-right: 100px; }

@media (orientation: landscape) {
  footer {
    background-color: rgba(31, 119, 97, 0.4); } }

@media screen {
  footer {
    background-color: rgba(109, 170, 145, 0.333); } }

/* Operaciones */
.container1 {
  color: white;
  background-color: black;
  width: 100%;
  padding: 10px;
  height: 5px; }

.container2 {
  padding: 15px;
  background-color: #229485;
  width: 100%;
  padding: 2.5px;
  height: 5px; }

.imagendiagnovet {
  width: 400px;
  height: 150px; }

body {
  margin: 0%;
  padding: 0%;
  padding-right: 0%; }

.sectioncarousel {
  height: 600px; }

.navbar-brand {
  display: flex;
  display: inline-block;
  padding-left: 40px;
  justify-content: flex-end; }

#accordionFlushExample {
  padding-left: 40px; }

.section {
  display: flex;
  display: inline-flex;
  text-align: center; }

.footer_symbol {
  padding: 10px;
  margin: 10px;
  height: 50px;
  width: 50px; }

footer {
  text-align: center;
  border-top: solid;
  border-color: black;
  background-color: #dae7e5;
  margin: 5px;
  margin-left: 5px; }

.quienessomoslista {
  list-style: none; }

.flex-container {
  display: flex;
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
